#layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    aside {
        width: 200px;
        background-color: pink;
    }
    section {
        display: flex;
        flex-direction: column;
        flex: 1;
        header {
            height: 60px;
            background-color: gray;
        }
        main {
            flex: 1;
        }
    }
}